manifest {
    name        = 'cell-painting-pipeline'
    description = 'Cell-painting feature-extraction pipeline (CellProfiler/DeepProfiler/CytoTable/pycytominer)'
    mainScript  = 'main.nf'
    nextflowVersion = '>=23.10.0'
}

//Default parameters
params {
    //Project
    outdir     = 'results'
    input_dir  = 'testdata/'
    plate_glob = '*/*'
    publish_intermediates = true

    //CellProfiler
    cellprofiler_image = 'cellprofiler/cellprofiler:4.2.8'
    illum_cppipe       = "conf/cellprofiler/pipelines/illum.cppipe"
    analysis_cppipe    = "conf/cellprofiler/pipelines/analysis.cppipe"
    deepprofiler_cppipe = "conf/cellprofiler/pipelines/deepprofiler.cppipe"

    //Cytopipe
    cytopipe_image = 'ghcr.io/jakobhuuse/cytopipe'

    //DeepProfiler
    deepprofiler_image = 'ghcr.io/jakobhuuse/deepprofiler'
    deepprofiler_model = 'conf/deepprofiler/model/Cell_Painting_CNN_v1.hdf5'
    deepprofiler_config = 'conf/deepprofiler/config/profiling.json'
}

process {
    cpus   = 2
    memory = 8.GB
    containerOptions = '--entrypoint ""'

    withLabel: cellprofiler {
        container = params.cellprofiler_image
    }

    withLabel: cytopipe {
        container = params.cytopipe_image
    }

    // cytotable runs as the host uid (no /etc/passwd entry), so HOME defaults to
    // "/" and USER is unset. Inject both.
    withLabel: cytotable {
        containerOptions = '--entrypoint "" -e USER=cytopipe -e HOME=/tmp'
    }

    withLabel: deepprofiler {
        container = params.deepprofiler_image
        containerOptions = '--entrypoint "" --platform linux/amd64'
    }
    //withName: PYCYTOMINER  { container = params.pycytominer_image }
}

profiles {
    //dev
    standard {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    //deploy
}
